@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
<div class="col-sm-5">
    <div class="calculator card">

        <input type="text" class="calculator-screen z-depth-1" value="" disabled />

        <div class="calculator-keys">

            <button type="button" class="operator btn btn-primary" value="+">+</button>
            <button type="button" class="operator btn btn-primary" value="-">-</button>
            <button type="button" class="operator btn btn-primary" value="*">&times;</button>
            <button type="button" class="operator btn btn-primary" value="/">&divide;</button>

            <button type="button" value="7" class="btn btn-light waves-effect">7</button>
            <button type="button" value="8" class="btn btn-light waves-effect">8</button>
            <button type="button" value="9" class="btn btn-light waves-effect">9</button>


            <button type="button" value="4" class="btn btn-light waves-effect">4</button>
            <button type="button" value="5" class="btn btn-light waves-effect">5</button>
            <button type="button" value="6" class="btn btn-light waves-effect">6</button>


            <button type="button" value="1" class="btn btn-light waves-effect">1</button>
            <button type="button" value="2" class="btn btn-light waves-effect">2</button>
            <button type="button" value="3" class="btn btn-light waves-effect">3</button>


            <button type="button" value="0" class="btn btn-light waves-effect">0</button>
            <button type="button" class="decimal function btn btn-outline-secondary" value=".">.</button>
            <button type="button" class="all-clear function btn btn-outline-danger btn-sm" value="all-clear">AC</button>

            <button type="button" class="equal-sign operator btn btn-outline-primary" value="=">=</button>

        </div>
    </div>
</div>

@*<div class="jumbotron align-items-right position-relative top-0 end-0">
    <h2 class="display-2">Hello, world!</h2>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-2">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>*@
    <div class="col-sm-3">
        <div class="card align-items-right position-relative" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card align-items-right position-relative" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
    </div>
</div>