@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
<div class="col-sm-5">
    <div class="calculator card">

        <input type="text" class="calculator-screen z-depth-1" value="" disabled />

        <div class="calculator-keys">

            <button type="button" class="operator btn btn-primary" value="+">+</button>
            <button type="button" class="operator btn btn-primary" value="-">-</button>
            <button type="button" class="operator btn btn-primary" value="*">&times;</button>
            <button type="button" class="operator btn btn-primary" value="/">&divide;</button>

            <button type="button" value="7" class="btn btn-light waves-effect">7</button>
            <button type="button" value="8" class="btn btn-light waves-effect">8</button>
            <button type="button" value="9" class="btn btn-light waves-effect">9</button>


            <button type="button" value="4" class="btn btn-light waves-effect">4</button>
            <button type="button" value="5" class="btn btn-light waves-effect">5</button>
            <button type="button" value="6" class="btn btn-light waves-effect">6</button>


            <button type="button" value="1" class="btn btn-light waves-effect">1</button>
            <button type="button" value="2" class="btn btn-light waves-effect">2</button>
            <button type="button" value="3" class="btn btn-light waves-effect">3</button>


            <button type="button" value="0" class="btn btn-light waves-effect">0</button>
            <button type="button" class="decimal function btn btn-outline-secondary" value=".">.</button>
            <button type="button" class="all-clear function btn btn-outline-danger btn-sm" value="all-clear">AC</button>

            <button type="button" class="equal-sign operator btn btn-outline-primary" value="=">=</button>

        </div>
    </div>
</div>

@*<div class="jumbotron align-items-right position-relative top-0 end-0">
    <h2 class="display-2">Hello, world!</h2>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-2">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>*@
    <div class="col-sm-3">
        <div class="card align-items-right position-relative" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Pronađi solucije za svoje matematičke probleme</h5>
            <h6 class="card-subtitle mb-2 text-muted">Samo jednim klikom na link</h6>
                <p class="card-text"><b>Dobijte objašnjenja korak po korak.</b> Pogledajte kako riješiti probleme i pokažite svoj rad — plus nabavite definicije za matematičke koncepte.<br/></p>
                <p class="card-text"><b>Grafikujte svoje matematičke probleme.</b> Odmah nacrtajte grafikon bilo koje jednačine da biste vizualizovali svoju funkciju i razumjeli odnos između varijabli.<br /></p>
                <p class="card-text"><b>Vježbajte, vježbajte, vježbajte.</b><br /></p>
                <a href="https://math.microsoft.com/en" class="card-link">Posjeti stranicu</a>
          </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card align-items-right position-relative" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Matematički kursevi?</h5>
                <h6 class="card-subtitle mb-2 text-muted">Samo jednim klikom na link</h6>
                <p class="card-text"><b>Preći ćemo odmah na stvar:</b><br> molimo vas da pomognete u podršci Khan akademiji.</br></p>
                <p class="card-text">Mi smo neprofitna organizacija koja se oslanja na podršku ljudi poput vas. Ako svi koji ovo čitaju daju 12 dolara mjesečno, Khan akademija može nastaviti da napreduje godinama.</p>
                <p class="card-text">Molimo vas da pomognete da Khan Academy bude besplatna, za bilo koga, bilo gdje i zauvijek.</p>
                <a href="https://www.khanacademy.org/math" class="card-link">Posjeti stranicu</a>
          </div>
        </div>
    </div>
</div>